*{
    padding:0;
    margin:0;
}

header {
    width: 100%;
    height: 150px;
    display: inline-flex;
    justify-content: space-between;
}

p{
    margin: 10px
}

/* Text on top */

.rightside, .leftside{
    width: 10%;
    height: 20%;
    margin:1%;
    display: flex;
    justify-content: space-around;
}

/*Google Logo */
.googleLogo{
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: -7px;
}


/* Google letters */
#letter1{
    color: Blue;
}
#letter2{
    color: Red;
}
#letter3{
    color: yellow;
}
#letter4{
    color: blue;
}
#letter5{
    color:green;
}
#letter6{
    color:red;
}

/*Search Placeholder */
#placeholder{
  position: relative;
  left:30%;
  top:40px;
  width: 500px;
  height: 35px;
}