*{
    padding:0;
    margin:0;
}

header {
    width: 100%;
    height: 150px;
    display: inline-flex;
    justify-content: space-between;
}

p{
    margin: 10px
}

/* Text on top */

.rightside, .leftside{
    width: 10%;
    height: 20%;
    margin:1%;
    display: flex;
    justify-content: space-around;
}