*{
    padding:0;
    margin:0;
}

header {
    width: 100%;
    height: 150px;
    display: inline-flex;
    justify-content: space-between;
}

p{
    margin: 10px
}

/* Text on top */

.rightside, .leftside{
    width: 10%;
    height: 20%;
    margin:1%;
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
/*Google Logo */
.googleLogo{
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: -7px;
}


/* Google letters */
#letter1{
    color: Blue;
}
#letter2{
    color: Red;
}
#letter3{
    color: yellow;
}
#letter4{
    color: blue;
}
#letter5{
    color:green;
}
#letter6{
    color:red;
}

/*Search Placeholder */
#placeholder{
  position: relative;
  left:30%;
  top:40px;
  width: 500px;
  height: 35px;
}

/*Buttons */
.buttons{
    display: flex;
    justify-content:center;
    position: relative;
    top:60px;
}

button{
    margin:5px;
    padding: 10px 28px;
    font-size: 14px;
    background-color:whitesmoke;
    border:none;
}

button:hover {background: #eee;}

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(230, 223, 223);
    position: fixed;
    bottom:0;
    display: flex;
    justify-content:flex-end;
}

footer a{
    margin: 10px;
    margin-top:20px;
}